@import "tailwindcss";

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;
  --color-havenBlue: #4192ca;
  --color-havenPink: #f0467e;
  --color-havenYellow: #f8c015;
  --color-havenGreen: #69c99e;
  --color-havenDarkBlue: #0d3c5d;
  --color-havenLightPeach: #fce7d5;
  --color-havenLightPink: #ffedf3;

  --font-display: "Nunito", "sans-serif";
  --font-sans: "Nunito", "sans-serif";

  --default-transition-duration: 250ms;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  @apply font-extrabold text-[32px] md:text-4xl xl:text-[54px] 2xl:text-6xl;
}

h2 {
  @apply xl:text-4xl lg:text-3xl 2xl:text-[40px] font-extrabold text-2xl;
}
.pryBtn {
  @apply bg-havenBlue text-white hover:bg-havenDarkBlue;
}

.secBtn {
  @apply border-2 border-black text-black hover:border-havenBlue hover:text-havenBlue;
}
.btn {
  @apply font-extrabold  w-44 h-12 flex items-center justify-center lg:w-[220px] lg:h-[60px] rounded-full;
}

.aboutList {
  @apply flex flex-col lg:flex-row items-center gap-6 lg:px-12 xl:px-20;
  span {
    @apply shrink-0 flex items-center justify-center w-16 h-16 rounded-full lg:w-20 lg:h-20 xl:w-24 xl:h-24  font-extrabold text-lg lg:text-2xl xl:text-3xl gap-6;
  }
  p {
    @apply text-center lg:text-left lg:text-2xl 2xl:text-3xl;
  }
}

.cardWidth {
  @apply px-8
  md:pl-[calc((100vw-1024px)/2+2rem)]
  lg:pl-[calc((100vw-1280px)/2+2rem)]
  2xl:pl-[calc((100vw-1536px)/2+2rem)] md:pr-40 md:max-w-full container;
}

.bgCurve {
  border-radius: 50% 50% 0% 0% / 75% 75% 0% 0%;
}
.bgCurveMobile {
  border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
}
